/*
 *
 * Main stylesheet for CS171 final project.
 * Authors: Hugh Zabriskie, Cynthia Meng.
 * Date: 4/14/2015.
 *
 */

/* FONT: Josefin Sans; */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

.container h2 {text-align: center; color: white; font-family: 'Josefin Sans'; font size: 32px;}
.centered-container h2 {text-align: center; color: white; font-family: 'Josefin Sans'; font size: 32px;}
.description h2 {text-align: center; color: white; font-family: 'Josefin Sans'; font size: 32px;}

h1 {font-family: 'Josefein Sans', sans-serif;}

/*
 *
 * D3 ELEMENTS
 *
 */



.axis text { font: 10px sans-serif; }
.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
/*g > text:hover {
    stroke:blue;
}*/
/*g > text {
    cursor:pointer;
}*/
.area { stroke-width: 0; fill: rgb(211, 94, 96); }

.overlay {
    fill: none;
    pointer-events: all;
    width: 100%;
    height: 100vh;
}

.focus circle {
    fill: steelblue;
    stroke: #555;
    stroke-width: 1;
}

.para_marg {
    margin-top: 5%;
}

.focus text { font: 11px sans-serif; }

.map {
    height: 350px;
    position: relative;
    padding:10px;
}

.hoverinfo {
    text-align: center;
    color:black;
}

.arc text {
    fill: black;
    font: 12px sans-serif;
}

.type path {
    stroke-width: 4;
    fill: none;
}

#breakdownVis { position: absolute; margin-top: : 40px; }
#breakdownVis text { fill: white; }

path.slice{
    stroke-width:2px;
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

::selection {
    background: #ffb7b7;
}


/*
 *
 * DESIGN ELEMENTS
 *
 */

/*html, body {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    color: black;
}*/

p {
    font-weight: 300 !important;
    line-height: 25px;
}

/*h1{ font-family: 'Josefin Sans', sans-serif;}
a, h1 a, h2 a, h3, h4 a { text-decoration: none;  color: #3B8FD7; font-family: 'Josefin Sans', sans-serif;}
a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover { text-decoration: none; color: #FFFFFF; } */

.highlighted { color: #3B8FD7; }

.screen {
    height: 100vh;
    width: 100%;
    position: relative;
}

.screengrowth {
    height: 100%;
    width: 100%;
    position: relative;
}


.container {
    width:100%;
    overflow:none;
    height:100%;
}

.centered-container {
    width: 1280px;
    height: 800px;
    position: absolute;
    margin: auto;
    top: 150px; bottom: 0; left: 0; right: 0;
}

.box {
    position: center;
    color: #eee;
    padding: 4px 10px 4px 19px;
    width: 500px;
}

/* NAVBAR */
#navbar { font-family: 'Hind', sans-serif; }
#navbar.navbar-default { background-color: #000; }
#navbar a { color: #ccc; }
#navbar a:hover { color: #A6D8DE; text-decoration: none; }
#navbar .navbar-header { margin: 10px 0 0 25px; }
#navbar .navbar-header a { color: white; font-weight: 100; font-size: 24px; }
#navbar .navbar-header a:hover { color: #A6D8DE;}
#navbar .navbar-header a:focus { text-decoration: none; }
#navbar .nav { margin: 0 0 0 25px; }



/* HOME SCREEN */
#home {
    background: #A6D8DE;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.title-box {
    align-content: center;
    margin: 150px 60px 0 60px; color: white; width: auto;
}
.title-box h1 { color: white; font-weight: 300; font-size: 55px;}
.title-box h3 { font-weight: 100; font-size: 24px; }

.time-box {
    text-align: center;
    margin: 40px 0px 0px 0px;
    width: auto;
    max-width: 640px;
    background-color: rgba(0,0,0,0.2)
}
.time-box text, .time-box line { fill: white; }


/* INTRO SCREEN */
#intro { 
    background: #AE9C96; 
}
#intro > .overlay {
    background-color: rgba(49,7,7,0.4);
    position: absolute;
}

#intro > .description {
    position: absolute;
    width: 600px;
    color: white;
    margin: 5% auto 0;
    margin-bottom: 20%;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
}


/* PERCEPTIONS */
#perceptions {
    background: #F9F1B5;
}

.left { width: 55%; float:left; }
.right { width: 45%; float:right; }
.centered {
    margin: 20px auto;
    padding:10px;
    position:relative;
    width:75% !important;
    text-align: center;
}

.wrapper { position: relative; }

.cool-btns input {
    background-color: rgba(0,0,0,0.0);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 18px;
    font-weight: bold;
}

.cool-btns input.active { color: #3B8FD7; border-color: #3B8FD7; }
.cool-btns input:focus { outline: 0; }

.perceptions { font-size: 13px; }
.perceptions td { padding: 3px 15px 3px 0; }
.perceptions.left, .perceptions.right { width: 50%; }


/* DIVERSITY */
#diversity {
    background: #DDDAD6;
    
}

.exec-description { margin-top: 70px; }
.exec-vis { margin-top: 100px; height: 500px; }
.exec-line { width: 600px; margin-top: 280px; }
.exec-line svg { margin-top: 15px; }
.exec-line .axis path { stroke: white; }
.exec-line text { fill: white; }

input[type=range]{
    -webkit-appearance: none;
    height: 3px;
    background: #FFFFFF;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-top: -2px;
}

input[type=range]:focus { outline: 0; }

#header {
    font-size:24px;
    margin-top: 15px;
    text-align: center;
}



/* GROWTH */
#growth {
    background: #A6D8DE;
}

.growth-box {
    width: 800px;
    text-align: left;
    background-color: #FFFFFF;
}

#growth .axis path { stroke: white; }
#growth text { fill: white; }

#centered-container {
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;

}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}



/* CREDITS SCREEN */
#credits { height: 240px; background-color: #F9F1B5; }
#credits-box { height: 240px; width: 100% !important; margin: 0; position: relative; }
#credits-box .col-md-4 { height: 150px; }
.small { font-size:12px; }

/*Our CSS*/

.introbox {
    font-size: 16px;
 }

.pierow p {
    margin-top: 100px;
}

#wordcloud1 {
    margin-bottom: 5%;
}

#perceptions_head, #coding_head {
    margin-bottom: 5%;
}

.options {
    margin-bottom: 20px;
}